main {
	margin-top: 50px;
	color: #fff;
	background-image: linear-gradient(#dc3545, #a2393e);

	padding: 20px;
	height: 600px;
	flex: 1;
}

.betta-body {
	min-height: 100vh;
}

.nav-danger {
	background-color: #bd2137!important;
}

footer {
	color: #fff;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: #bd2137;
}

footer a {
	color: #fff;
}

footer p {
	margin-bottom: .25rem;
}

.abetta-card {
	color: #13689a;
	margin-bottom: 10px;
}

.abetta-card .card-body {
	text-align: center;
}

.abetta-card .card-body svg {
	height: 6em;
	width: 6em;
}

.abetta-list {
	padding: 10px;
}

.abetta-table {
	background-color: #fff;
}

.abetta-table thead th {
	background-color: #d2d2d2;
}

.abetta-table tbody {
	font-size: 11pt;
	cursor: pointer;
}

.abetta-list-menu {
	background-color: #bd2137;
	padding: 10px;
	color: #fff;
}

.abetta-list-menu a {
	color: #fff;
	padding: .2rem 1rem;
}

.abetta-list-menu a:hover {
	color: #eadbdb;
}

.abetta-list-menu h4 {
	font-size: 1.3rem;
	padding-left: 15px;
	border-bottom: #dc3545 1px solid;
  padding-bottom: 5px;
}
